
*
{padding:0px;
margin:0px:}
body{
background-image:url(finalbgg-01.png);
background-repeat:no-repeat;
background-size:2000px;}
.box1
{padding:40px;
width:700px;
text-align:center;
background-color:rgba(255,242,244,0.9);
margin-left:3%;
margin-right:3%;
margin-top:5%;
margin-left:5%;
border-radius:30px;

}
.imag
{border-radius:90px;
border-color:#FFC0CB;
}
.imgg
{border-radius:40px;
}
.tbor
{font-family:poppins;
border-radius:30px;
border-width:9px;
border-color:#FF8DA1;
}
